body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    height: 100vh;
    margin: 0;
}

.titolo {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.datiPersonali, .titoliStudio, .esperienzeLavorative {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
