.titolo{
    font-family: Arial, Helvetica, sans-serif;
}
.datiPersonali{
    font-family: Arial, Helvetica, sans-serif;
}
.titoliStudio{
    font-family: Arial, Helvetica, sans-serif;
}
.esperienzeLavorative{
    font-family: Arial, Helvetica, sans-serif;
}